.p-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color:#9D8670;
    @media screen and (max-width:1025px) {
        height: 150px;
    }
    h1{

        color: #FFFFFF;
        font-size: 20px;
        margin-bottom: 34px;
    }
    p{
        color: #FFFFFF;
        font-size: 14px;
    }
}
.menu-footermenu-container{
    height: 150px;
}
#menu-footermenu{
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu-item-190{
    color: #FFFFFF;
    font-size: 20px;
    &::after{
        position: absolute;
        content: "";
        display: block;
        background-color: #FFFFFF;
        width: 30px;
        height: 2px;
        transform: rotate(90deg);
        left: 114px;
        top: 73px;
    }
}
.menu-item-195{
    color: #FFFFFF;
    font-size: 20px;
}